[Interface]
Address = 10.192.122.2/32
PrivateKey = {{ config.privatekeyclient }}

[Peer]
PublicKey = {{ config.publickeyserver }}
Endpoint = {{ config.endpoint }}:{{ config.port }}
AllowedIPs = 0.0.0.0/0
