[Interface]
Address = 10.192.{{ config.netnum }}.2/32
PrivateKey = {{ config.privatekeyclient }}

[Peer]
PublicKey = {{ config.publickeyserver }}
PresharedKey = {{ config.presharedkeyclient }}
Endpoint = {{ config.endpoint }}:{{ config.port }}
AllowedIPs = 0.0.0.0/0
