Source: openmediavault-wireguard
Section: net
XB-Plugin-Section: network
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-wireguard
Architecture: all
Depends: qrencode,
         wireguard,
         php-zip,
         openmediavault (>= 8),
         ${misc:Depends}
Description: openmediavault WireGuard plugin
 WireGuard is an extremely simple yet fast and modern VPN
 that utilizes state-of-the-art cryptography. It aims to be
 faster, simpler, leaner, and more useful than IPsec, while
 avoiding the massive headache. It intends to be considerably
 more performant than OpenVPN. WireGuard is designed as a
 general purpose VPN for running on embedded interfaces and
 super computers alike, fit for many different circumstances.
